/* Basic page layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header & navbar */
header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

nav button {
    background-color: #555;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

nav button:hover {
    background-color: #777;
}

/* Active tab (optional) */
nav button.active {
    background-color: #ff6347; /* Tomato color for the active tab */
}

/* Content */
#content {
    padding: 2rem;
}

#content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#content p {
    font-size: 1rem;
    line-height: 1.5;
}
.home-content {
    background-color: #56ced9;
}
.home-content h1 {
    color: #333;
}
.home-content p {
    color: #666;
}